@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$primary-font;
}

body {
    background-color: variables.$primary-bg;
}

li {
    list-style: none;
}
