$primary-bg: #f5f6fa;
$primary-font: 'Roboto', sans-serif;
$header-bg: #182C61;
$text-white: #fff;
$button-bg: #44bd32;
$button-bg-hover: #4cd137;

$break-tablet: 1023px;
$break-mobile: 767px;
