* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
}

/* Bloco */
.produto {
    box-sizing: border-box;
}

/* Elementos (utilizando __) */
.produto__imagem {
    width: 100%;
    display: block;
}

.produto__nome {
    font-size: 1.2em;
    margin: 8px 0;
}

.produto__descricao {
    color: gray;
}

/* Modificador (utilizando --) */
.produto--em-destaque {
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}
